<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Plantitas</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Plantitas necesita acceso a tus fotos para que puedas elegir la imagen de una planta.</string>
	<key>NSCameraUsageDescription</key>
	<string>Plantitas necesita acceso a la cámara para que puedas fotografiar una planta.</string>
</dict>
</plist>
